---
const { data, className } = Astro.props;
//const { name, date, land, imgPath } = Astro.props;
import ButtonOverview from "./ButtonOverview.astro";
---

<article class={className}>
  <div class="card-container">
    <img src={data.image} alt="" />
    <div class="navn">
      <h2 class="name">{data.name}</h2>
      <a href={`../artists/${data.slug}/`}>
        <div class="button_list">
          <ButtonOverview variant="secondary"> See more </ButtonOverview>
        </div>
      </a>
    </div>
    <div class="date_land">
      <div class="date">{data.date}</div>
      <div class="land">{data.land}</div>
    </div>
  </div>
</article>

<style>
  article {
    padding: 30px;
  }
  .card-container {
    width: 300px;
    height: auto;
    display: flex;
    position: relative;
    height: auto;
    gap: 20px;
    transition: 1s;
  }

  .card-container:hover {
    transform: scale(1.1);
    z-index: 2;
  }
  .head_1 {
    position: absolute;
    top: 0;
    left: 52px;
    transform: translate(-50%, 50%);
  }
  .head_2 {
    position: absolute;
    top: -277px;
    left: 633px;
    transform: translate(-50%, 50%);
  }
  .head_3 {
    position: absolute;
    top: 202px;
    left: 531px;
    transform: translate(-50%, 50%);
  }
  img {
    display: flex;
    position: relative;
    width: 100%;
    height: auto;
    border-radius: 20px;
    object-fit: cover;
  }

  .navn {
    position: absolute;
    display: flex;
    justify-content: space-around;
    bottom: 0;
    width: 300px;
    border-radius: 0 0 20px 20px;
    padding: 0 20px 10px 20px;
    align-items: center;
    font-family: "Alumni Sans", sans-serif;
  }

  .name {
    inline-size: 185px;
    justify-content: center;
    overflow-wrap: break-word;
    font-family: "Alumni Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 50px;
    font-weight: 800;
    color: #f84104;
  }
  .date_land {
    display: flex;
    color: #3e3a3a;
    position: absolute;
    font-size: 20px;
    font-family: "Alumni Sans", sans-serif;
    font-weight: 600;
    justify-content: space-between;
    width: 298px;
    padding: 10px 20px;
  }
  .button_list {
    align-self: flex-end;
    padding-bottom: 15px;
  }

  @media (max-width: 1760px) {
    .head_1 {
      position: absolute;
      top: 0px;
      left: 50px;
      transform: translate(-50%, 50%);
    }
    .head_2 {
      position: absolute;
      top: -277px;
      left: 558px;
      transform: translate(-50%, 50%);
    }
    .head_3 {
      position: absolute;
      top: 196px;
      left: 514px;
      transform: translate(-50%, 50%);
    }
  }
  @media (max-width: 1600px) {
    .head_1 {
      position: absolute;
      top: 0px;
      left: -38px;
      transform: translate(-50%, 50%);
    }
    .head_2 {
      position: absolute;
      top: -277px;
      left: 455px;
      transform: translate(-50%, 50%);
    }
    .head_3 {
      position: absolute;
      top: 196px;
      left: 384px;
      transform: translate(-50%, 50%);
    }
  }

  @media (max-width: 940px) {
    .head_1 {
      position: absolute;
      top: 0px;
      left: -38px;
      transform: translate(-50%, 50%);
    }
    .head_2 {
      position: absolute;
      top: -277px;
      left: 369px;
      transform: translate(-50%, 50%);
    }
    .head_3 {
      position: absolute;
      top: 193px;
      left: 364px;
      transform: translate(-50%, 50%);
    }
  }
  @media (max-width: 700px) {
    .head_1 {
      position: absolute;
      top: 19px;
      left: 120px;
      transform: translate(-50%, 50%);
    }
    .head_2 {
      position: absolute;
      top: -335px;
      left: 121px;
      transform: translate(-50%, 50%);
    }
    .head_3 {
      position: absolute;
      top: 383px;
      left: 117px;
      transform: translate(-50%, 50%);
    }
  }
</style>
